@Styles.Render("~/bundles/style/about")
<div class="about-main">
    <div class="about-container cyc-box-center-h">
        <h2><strong>Acerca de proyecto Sylom</strong></h2>
        <hr />
        <p class="about-c-data">
            Este sistema llamado <strong>Sylom</strong> es el proyecto del curso de Programacion Avanzada en la universidad Fidelitas, bla bla bla
        </p>
        <h3><strong>Integrantes</strong></h3>
        <ul class="cyc-nav-list">
            <li>Daniel Coto Quiros</li>
        </ul>
        <hr />
        <h3><strong>Contacto</strong></h3>
        <p class="cyc-text-center">danielcotoquiros@hotmail.com</p>
        <p class="cyc-text-center"><strong>&</strong></p>
        <p class="cyc-text-center">danielcotoquiros@cycwebservice.cf</p>
    </div>
</div>