@Styles.Render("~/bundles/style/login")
<div class="w-100 h-100 bg-login">
    <div class="container p-lg-5 faLog1">
        <div class="card cyc-box-center-h box-login cyc-border-r-5" id="login-card">
            <div class="card-img-top">
                <img src="/Public/IMG/Login/userlog.png" width="136px" height="136px" alt="User" class="m-auto d-block">
            </div>
            <div class="card-title">
                <h3 class="text-accent text-center">Ingresa sesion</h3>
            </div>
            <div class="card-body">
                <form action="/login" method="post" id="login-form">
                    <div class="form-group">
                        <label for="user" class="text-accent">Usuario</label>
                        <input autofocus value="@ViewBag.Usuario" type="text" name="user" id="user" class="form-control bg-usu-fo" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label for="pass" class="text-accent">Contraseña</label>
                        <input type="password" name="pass" id="pass" class="form-control bg-pass-fo"
                               placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="button" value="Iniciar sesion" class="cyc-btn cyc-btn-success-2 d-block w-100 mt-lg-5" id="login-btn-iniciar-sesion">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var btn = gI('login-btn-iniciar-sesion');
    var form = gI('login-form');

    btn.addEventListener('click', () => {
        form.submit();
    });

    gI('user').addEventListener('keyup', (e) => {
        if (e.keyCode == 13) {
            gI('pass').focus();
        }
    });

    gI('pass').addEventListener('keyup', (e) => {
        if (e.keyCode == 13) {
            form.submit();
        }
    });

    form.addEventListener('keyup', (e) => {
        if (e.keyCode == 13 && !gI('user').focus) {
            form.submit();
        }
    });
</script>
@if (!string.IsNullOrEmpty(ViewBag.EMensaje)) {
    <script>
            var msg = app.o.m("@ViewBag.EMensaje", gI("login-card"));
            msg.setAttribute('class','error-msg border-r-8 mb w-100');
        msg.setAttribute('style', 'border-top-left-radius: 5px; border-top-right-radius:5px;padding:.95em;');
    </script>
}
