@{
    ViewBag.Title = "Home Page";
}

@ViewBag.Value

<form action="/" method="post">
    <input type="text" value="" name="value" placeholder="Ingrese un texto" />
    <input type="submit" value="Enviar" />
</form>