/*Main*/
.paciente-box {
    background-color: #fff;
    min-height: 35em;
    border: 1px solid #ccc;
    border-top: 35px solid #222;
    box-shadow: 0px 0px 11px #777;
    border-radius: 5px;
}

.paciente-box-top {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

    .paciente-box-top i {
        margin-right: .5em;
        font-size: 32px;
        cursor: pointer;
    }
/*Form*/

.paciente-form-actions {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1.5em;
}

.paciente-form-exit {
    float: left;
}

.paciente-form-action {
    float: right;
}
