/*PARENT*/
.admin-main-div {
    display: flex;
    justify-content: flex-start;
    background-color: #f3f7f9;
}

.admin-all {
    width: 100%;
    margin-right: auto;
}

.admin-box {
    height: auto;
    overflow: hidden;
}

/*Title (Up)*/
.admin-title {
    padding: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 68.7px;
}

.admin-title-route {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px solid #ddd;
}

.admin-title-route-items{
    cursor: pointer;
}

.admin-title-search {
    max-width: 28em;
    min-width: 28em;
    height: 100%;
    min-height: 100%;
}

.admin-title-search-input {
    padding-right: 2.5em !important;
    background: url(/Public/IMG/General/search.png) no-repeat;
    background-position: right center;
    background-size: contain;
    background-color: #fff;
    box-shadow: 0px 0px 1px #444;
}

/*CONTENT*/
.admin-content {
    padding: .5em;
    border: 1px solid #777;
    box-shadow: 0px 0px 15px #999;
    min-height: 35em;
    max-height: 55em;
    border-radius: 5px;
    background-color: #fff;
}

.admin-nav {
    position: relative;
    top: 2px;
}

.admin-nav-list {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
}

.admin-nav-list-item {
    padding: .75em;
    padding-bottom: 1em !important;
    background-color: initial;
    max-width: 10em;
    min-width: 10em;
    height: 100%;
    margin-bottom: 0 !important;
    text-align: center;
    list-style: none;
    min-height: 1.5em !important;
    cursor: pointer;
}

    .admin-nav-list-item:hover {
        background-color: #ecf0f1;
        max-width: 10em;
        border: 1px solid #777;
        box-shadow: 0px -2px 3.5px #999;
        border-bottom: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        min-width: 10em;
        height: 100%;
        margin-bottom: 0 !important;
        text-align: center;
        list-style: none;
        min-height: 1.5em !important;
        cursor: pointer;
    }

.admin-nav-list-item-active {
    padding: .75em;
    padding-bottom: 1em !important;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 0px -2px 3.5px #999;
    border-bottom: 2px solid #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    max-width: 10em;
    min-width: 10em;
    height: 100%;
    margin-bottom: 0 !important;
    text-align: center;
    list-style: none;
    min-height: 1.5em !important;
    cursor: pointer;
}

.admin-btn-add {
    min-width: 13em;
}

.btn-filter {
    min-width: 35px;
    min-height: 35px;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 0px -2px 3.5px #999;
    margin-right: .5em;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .2em !important;
    box-sizing: border-box;
    cursor: pointer;
}


    .btn-filter div {
        background-color: #777;
        min-height: 4.75px;
        border-radius: 2.5px;
    }

    .btn-filter:hover {
        background-color: #777;
    }

    .btn-filter:hover div{
        background-color: #fff;
    }

.admin-thead-table th {
    background-color: #2c3e50; /*#2c3e50 - #222831*/
}

.admin-box-btn {
    margin: .5em;
    padding: 0 1.5em;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: baseline;
    border-top: 1px solid #dee2e6;
}

.admin-box-body-btn-actions {
    margin: .5em 1em .5em;
    min-width: 60px;
}

/*
    Responsive ***
*/
@media screen and (max-width:690px) {
    .admin-main-div {
        display: flex;
        flex-direction: column;
    }

    .admin-all {
        width: 100%;
        margin: 0 auto;
    }

    .admin-menu-box {
        padding: .5em;
        width: 100%;
        border: 1px solid #ccc;
        height: auto;
        min-height: initial;
        max-height: 200px;
        overflow-y: auto;
        box-shadow: 0px 0px 5px #777;
        margin-bottom: 1.5em;
        background-color: #fff;
    }

    .admin-title h4 {
        font-size: 17px;
    }

    .admin-title h6 {
        font-size: 11px;
        min-width: 137.35px;
    }

    .table th {
        font-size: 13px;
        min-height: initial;
    }
}
