.admin-title {
    background-color: #fff;
    box-shadow: 0px 0px 2px #777;
    border: 1px solid #ccc;
    padding: 1.2em .5em;
    border-radius: 5px;
}

.admin-box {
    border: 1px solid #ccc;
    min-height: 35em;
    max-height: 55em;
    height: auto;
    box-shadow: 0px 0px 5px #777;
    overflow: hidden;
}

.admin-box2 {
    float: right;
    width: calc(100% - 15em);
    border: 1px solid #ccc;
    min-height: 35em;
    max-height: 55em;
    height: auto;
    box-shadow: 0px 0px 5px #777;
    overflow: hidden;
    margin-bottom: 1.5em;
}

.admin-menu-box {
    padding: .5em;
    width: 14.5em;
    float: left;
    border: 1px solid #ccc;
    height: auto;
    min-height: 35em;
    max-height: 55em;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px #777;
    margin-bottom: 1.5em;
    background-color: #fff;
}

.admin-box-top {
    background-color: #3176b1;
    height: 3.5em;
    display: flex;
    justify-content: flex-end;
    min-height: 75px;
    padding: 0.5em;
    box-shadow: 1px 0px 5px #000;
}

.admin-box-top2 {
    background-color: #3176b1;
    color: #fff;
    text-align: start;
    height: auto;
    max-height: 50px;
    padding: 0.5em;
    box-shadow: 1px 0px 5px #000;
}

.admin-box-btn {
    margin: .5em;
    padding: 0 1.5em;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: baseline;
    border-top: 1px solid #dee2e6;
}

.admin-box-body-btn-actions {
    margin: 2em 1em 2em;
    min-width: 60px;
}

/*
    Menu
*/
.admin-menu-title {
    background-color: #3176b1;
    margin: -.5em;
    padding: .5em;
    min-height: 35px;
}

.admin-menu-items li {
    padding: 1.5em;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

    .admin-menu-items li:hover {
        background-color: #dddddd;
    }
/*
    DropDown
*/
.admin-dropdown {
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.admin-dropdown-title {
    min-width: 182px;
    margin-top: .75em;
    vertical-align: middle;
    padding-bottom: .5em;
    margin-bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin-dropdown-title2 {
    min-width: 182px;
    vertical-align: baseline;
    margin-top: .45em;
    /*vertical-align: middle;*/
    padding-bottom: .5em;
    margin-bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin-dropdown-icon {
    vertical-align: middle;
    font-size: 21px;
}

.admin-dropdown-ch {
    /*border-bottom: 1px solid #ccc;*/
}

.admin-dropdown-items {
    background-color: #fff;
    list-style: none;
    border: 1px solid #eee;
}

    .admin-dropdown-items li {
        padding: .5em;
        border-bottom: 1px solid #ccc;
    }

        .admin-dropdown-items li:hover {
            background-color: #ccc;
        }

/*
    Add
*/
.admin-container-add {
    float: right;
    /*border: 1px solid #ccc;
    box-shadow: 0px 0px 11px #777;
    background-color: #fff;*/
    width: 100%;
    margin-bottom: .5em;
    padding: .5em;
    display: flex;
    justify-content: end;
}

/*
    Responsive ***
*/