/*
    About main
*/
.about-main {
    margin-top: 4.9em;
}
/*
    About design
*/
.about-container {
    margin-bottom: 2.5em;
    height: auto;
    width: 90%;
    border: 1px solid #fff;
    box-shadow: 0px 0px 11px #777;
    padding: 2.5em;
    border-radius: 5px;
}
