/*
    Rol
*/
.sec-rol-dg {
    margin-top: 2.5em;
    background-color: #fff;
    height: auto;
    width: auto;
    max-height: 35em;
    min-width: 50em;
    box-shadow: 0px 0px 5px #000;
    overflow-y: auto;
}

.sec-rol-dg-section {
    height: auto;
    display: block;
}

.sec-rol-dg-section-top-main {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: -1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sec-rol-dg-arrow {
    right: 0;
    font-size: 21px;
    color: #222;
}

.sec-rol-action {
    cursor: pointer;
}


.sec-rol-top-main-body {
    display: block;
}

.sec-rol-ch {
    margin: 0;
}

/*
    Aginagciones
*/

.sec-asig-dg {
    margin-top: 2.5em;
    background-color: #fff;
    height: auto;
    width: auto;
    max-height: 35em;
    min-width: 35em;
    box-shadow: 0px 0px 5px #000;
    overflow-y: auto;
}